DATABASE_URL=postgresql+asyncpg://admin:admin@localhost:5432/manga_day # ИСПОЛЬЗОВАТЬ ТОЛЬКО АСИНХРОННЫЕ БИБЛИОТЕКИ
ADMIN_TOKEN=1234567:QWERTYUIOP # Токен для ТГ
USER_TOKEN=1234567:QWERTYUIOP # Токен для ТГ
SQLALCHEMY_URL=postgresql://admin:admin@localhost:5432/manga_day # ТОЛЬКО СИНХРОННЫЕ БИБЛИОТЕКИ
CONFIG_FILE=config.yaml # ПУТЬ К КОНФИГ ФАЙЛУ