DATABASE_URL=postgresql+asyncpg://admin:admin@manga-postgres:5432/manga_day # ИСПОЛЬЗОВАТЬ ТОЛЬКО АСИНХРОННЫЕ БИБЛИОТЕКИ
SQLALCHEMY_URL=postgresql://admin:admin@manga-postgres:5432/manga_day # ТОЛЬКО СИНХРОННЫЕ БИБЛИОТЕКИ
CONFIG_FILE=config.yaml # ПУТЬ К КОНФИГ ФАЙЛУ