<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga-Day - Новая манга во мгновение ока!</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="search-container">
        <form id="search-form" class="search-form">
            <input type="search" id="search-input" placeholder="Название или артикул манги..." autocomplete="off">
            <button type="submit">Поиск</button>
            <div class="error-message" id="search-error"></div>
        </form>
    </div>

    <div class="manga-gallery" id="gallery">
        <h1>Загрузка манги...</h1>
    </div>

    <div class="footer">
        © 2026 Manga-Day
    </div>

    <script src="/static/js/index.js"></script>
</body>
</html>